@import '../../../theme/variables.scss';

.home {
  li {
    margin-right: 5px;
  }
  .descktop {
    display: block;
    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }
  }
  .link-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $ui-grey-light;
    padding: 0.8 * $basic-margin;
    opacity: 0.8;
    border-radius: 3 * $basic-margin;
    height: 1.8 * $basic-margin;
    cursor: pointer;
    transition: all 0.25s ease;
    width: 20 * $basic-margin;
    &__img {
      border-radius: 50%;
      background-color: $ui-grey;
      height: 2.5 * $basic-margin;
      box-sizing: border-box;
    }

    &:hover {
      opacity: 1;

      img {
        transform: rotate(90deg);
      }
    }
  }
  .intro-block {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;

    &__experience {
      position: relative;
      margin-top: 4 * $basic-margin;
      padding-top: 4 * $basic-margin;
      margin-bottom: 4 * $basic-margin;
      padding-left: 1 $basic-margin;

      &__number {
        opacity: 0.4;
        top: -5 * $basic-margin;
        left: -1 * $basic-margin;
        font-size: 14 * $basic-margin;
        display: flex;
        align-items: center;
        position: absolute;
      }
    }
    &__right {
      position: relative;
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      z-index: 3;

      * {
        max-width: 70%;
      }
    }
    &__left {
      flex: 2;

      &__img {
        position: absolute;
        left: -5 * $basic-margin;
        top: 0px;
        height: 80vh;
        min-height: 70 * $basic-margin;
        z-index: 1;

        @media screen and (max-width: $breakpoint-sm) {
          left: -10 * $basic-margin;
        }
        @media screen and (max-width: $breakpoint-xs) {
          left: -12 * $basic-margin;
        }
      }
    }
    &__hr {
      width: 10%;
      background-color: $ui-black;
      height: 0.3 * $basic-margin;
      margin: 0;
    }
    &__link {
      margin: 1.2 * $basic-margin;

      &__img {
        margin-left: $basic-margin;
      }
    }

    &__background-title {
      opacity: 0.2;
      font-family: revert;
      font-size: 15rem;
      position: absolute;
      left: 10%;
      bottom: 0px;
      z-index: -1;
    }
  }
  &__article-cs {
    margin-top: 5 * $basic-margin;
  }
}
